Repository kowainik/learn4haskell, pull requests merged in 2021-10, with the labels that each got.

#434 [#433] Create 2021 Hacktoberfest logo
  README.md
  images/HacktoberFest2021-Learn4Haskell-Banner.png
Labels: documentation, enhancement, hacktoberfest-accepted

#432 [#430] Chapter 3 knight Monster clarification
  src/Chapter3.hs
Labels: chapter3, hacktoberfest-accepted

#453 CI: use major version and add workflow_dispatch
  .github/workflows/ci.yml
Labels: CI, enhancement, hacktoberfest-accepted
